version: "3.8"

services:
  web:
    image: nginx:1.25
    ports:
      - "80:80"
    volumes:
      - /home/ec2-user/myappdata:/usr/share/nginx/html

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mypassword
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
